<div id="memberjoin">

    <div class="page_ctn container">
      <div id="top_ctn">
        加入流程
      </div>

      <div id="btm_ctn">
          <div class="one_sec">填写会员申请表
          <div><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
          </div><br/>
        <div class="one_sec">会员申请审查
          <div><i class="fa fa-arrow-down" aria-hidden="true"></i></div></div><br/>
        <div class="one_sec">审查通过
          <div><i class="fa fa-arrow-down" aria-hidden="true"></i></div></div><br/>
        <div class="one_sec">缴纳质量保证金
          <div><i class="fa fa-arrow-down" aria-hidden="true"></i></div></div><br/>
        <div class="one_sec">上传产品信息</div><br/>
      </div>
    </div>

</div>
