<div id="intro" class="container">
  <div class="intro_top row">
    <div id="news" class="col m6 s12 l6 intro_sec">
      <div class="intro_til">新闻资讯</div>
      <div class="intro_ctn">
        <div id="main_new" class="row">
          <div id="n_left" class="col m4 l4 s4">
            <img src="http://d.ifengimg.com/mw480/y3.ifengimg.com/ifengiclient/ipic/20151209/default_325_6075ee65c301df4864ee3daa2bc3200e_w580_h580.jpg">
          </div>
          <div id="n_right" class="col m8 l8 s8">
            到了年底，按照惯例，时尚圈就会等着看Pantone（世界权威色彩机构）发布的世界流行色趋势报告，因为这份报告是根据时尚趋势来总结的，将会在第二年产生深远影响。不过，这次的发布与往年有点小不同，Pantone第一次发布了一个颜色组合作为2016年的年度颜色。
            <a class="link">详细>></a>
          </div>
        </div>
        <div id="news_list">
          <a class="one_new"> > 因为是首次发布两种颜色作为年度颜色，是为了鼓励把两色混搭 </a>
          <a class="one_new"> > 多位设计师和艺术家围绕着两种颜色设计出多种生活中的搭配方案 </a>
          <a class="one_new"> > Pantone每年发布的下一年年度颜色会给时尚、设计、零售等行业 </a>
          <a class="one_new"> > 借此机会，我们也一起来回顾一下近几年的年度颜色吧。不知道，你是否还对它们有印象 </a>
          <a class="one_new"> > 2008—2015年流行色回顾 </a>
        </div>
      </div>
      <div id="more"><a>>更多</a></div>
    </div>
    <div id="cmy_intro" class="col m6 s12 l6 intro_sec">
      <div class="intro_til">公司简介</div>
      <div class="intro_sec">
        1993年至今，在以海口为主基地的基础上，先后建立了北京、西安、太原、乌鲁木齐、广州、大连、深圳七个航空营运基地/分公司。航线网络遍布中国，覆盖亚洲，辐射欧洲、北美洲，开通了国内外航线700余条，通航城市近100个。自开航以来，连续安全运营23年，累计安全飞行超过500万小时，保持了良好安全记录，四次荣评JACDEC全球最安全航空公司十强。海航拥有波音737、787系列和空客330系列为主的年轻豪华机队，截至2015年12月31日，共运营飞机超过202架，适用于客运和货运飞行，为旅客打造拥有独立空间的宽敞舒适的全新商务舱。
      </div>
      <div id="intro_images" class="row">
        <div class="one_img col m4 l4 s4" :style="{'background':'url(' + 'https://images.unsplash.com/photo-1416331108676-a22ccb276e35?dpr=1&auto=format&fit=crop&w=1500&h=1004&q=80&cs=tinysrgb&crop=' + ')'}">

        </div>
        <div class="one_img col m4 l4 s4" :style="{'background':'url(' + 'https://images.unsplash.com/photo-1476206385935-57c72c4b89e0?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=' + ')'}"></div>
        <div class="one_img col m4 l4 s4" :style="{'background':'url(' + 'https://images.unsplash.com/photo-1473233471576-4fe986dc7413?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=' + ')'}"></div>
      </div>
      <div id="detail"><a>>详细</a></div>
    </div>
  </div>

  <div id="advantage" class="intro_sec">
    <div class="intro_til">服务优势</div>
    <div id="adv_ctn" class="row">
      <div class="one_adv col l2 m2 s4">
        <div class="adv_sym"><i class="fa fa-handshake-o fa-3x"></i></div>
        <div class="adv_ctn">
          海外买家<br/>
          国内厂商<br/>
          直接对接
        </div>
      </div>
      <div class="one_adv col l2 m2 s4">
        <div class="adv_sym"><i class="fa fa-desktop fa-3x" aria-hidden="true"></i></div>
        <div class="adv_ctn">
          海外本地客服<br/>
          完美售后服务
      </div>
        </div>
      <div class="one_adv col l2 m2 s4">
        <div class="adv_sym"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></div>
        <div class="adv_ctn">
          分级市场<br/>
          分级投资<br/>
          准确定位
        </div>
      </div>
      <div class="one_adv col l2 m2 s4">
        <div class="adv_sym"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></div>
        <div class="adv_ctn">
          全球物流<br/>
          门到门递送
        </div>
      </div>
      <div class="one_adv col l2 m2 s4">
        <div class="adv_sym"><i class="fa fa-lock fa-3x" aria-hidden="true"></i></div>
        <div class="adv_ctn">
          保护原创设计<br/>
          免受侵权干扰
        </div>
      </div>
      <div class="one_adv col l2 m2 s4">
        <div class="adv_sym"><i class="fa fa-refresh fa-3x" aria-hidden="true"></i></div>
        <div class="adv_ctn">
          客户意见反馈<br/>
          最新市场信息
        </div>
      </div>
    </div>
  </div>
</div>
