<div id="header">
 <div id="header_upper">
   <a v-link="{'path':'/'}" id="logo">Weavve</a>
 </div>
  <div id="header_btm">
    <div id="menu_ctn" class="row">
      <a class="menu_item col l2 m2 s2">关于我们</a>
      <a class="menu_item col l2 m2 s2" v-link="{'path':'/memberjoin'}" v-link-active="active">会员加入</a>
      <a class="menu_item col l2 m2 s2" v-link="{'path':'/news'}">新闻资讯</a>
      <a class="menu_item col l2 m2 s2" v-link="{'path':'/helpcenter'}" v-link-active="active">帮助中心</a>
      <a class="menu_item col l2 m2 s2">精英招聘</a>
      <a class="menu_item col l2 m2 s2">联系我们</a>
    </div>
  </div>
</div>
