<div id="helpcenter" class="container">
  <div id="page_ctn" class="row">
    <div id="side_bar" class="col s3 l3 m3">
      <div id="cmy_img">
        <img src="https://images.unsplash.com/photo-1472851294608-062f824d29cc?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=">
      </div>
      <div id="cmy_til">
        伟务科技有限公司
      </div>
      <div class="sec_til">
        帮助中心
      </div>

      <div id="menu_ctn">
        <div class="one_menu">如果准备验厂</div>
        <div class="one_menu">
          产品认证
          <div class="sub_menu">
            <div class="one_sub_menu">FSC 认证</div>
            <div class="one_sub_menu">UL  认证</div>
            <div class="one_sub_menu">Oeko 认证</div>
            <div class="one_sub_menu">SGS 认证</div>
            <div class="one_sub_menu">FDA 认证</div>
            <div class="one_sub_menu">FCC 认证</div>
            <div class="one_sub_menu">UPC 认证</div>
            <div class="one_sub_menu">CSA 认证</div>
            <div class="one_sub_menu">CE 认证</div>
            <div class="one_sub_menu">FC 认证</div>
            <div class="one_sub_menu">BSCI 认证</div>
            <div class="one_sub_menu">ISO9001</div>
          </div>
        </div>
      </div>
    </div>
    <div id="helps" class="row col s9 m9 l9">
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="fsc">
        <div class="help_ctn">
          <div class="help_til">FSC 认证</div>
          <div class="ctn">
            森林管理委员会（FSC）是一个由利益相关者所有的体系，其目的是为了促进负责任的全球森林经营。 它为对负责任的森林感兴趣的公司和组织提供标准制定、商标保证、认可服务和市场准入。
          </div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="ul">
        <div class="help_ctn">
          <div class="help_til">UL 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="oeko">
        <div class="help_ctn">
          <div class="help_til">Oeko 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="sgs">
        <div class="help_ctn">
          <div class="help_til">SGS 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="fda">
        <div class="help_ctn">
          <div class="help_til">FDA 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="fc">
        <div class="help_ctn">
          <div class="help_til">FCC 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="upc">
        <div class="help_ctn">
          <div class="help_til">UPC 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="sa">
        <div class="help_ctn">
          <div class="help_til">CSA 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="ce">
        <div class="help_ctn">
          <div class="help_til">CE 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="fc">
        <div class="help_ctn">
          <div class="help_til">FC 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="bsci">
        <div class="help_ctn">
          <div class="help_til">BSCI 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
      <div class="one_help col s4 m6 l4" @mouseover="showHelpCtn($event)" @mouseleave="hideHelpCtn($event)">
        <img :src="iso">
        <div class="help_ctn">
          <div class="help_til">ISO9001 认证</div>
          <div class="ctn"></div>
        </div>
      </div>
    </div>
  </div>
</div>
